{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="card col-md-6 mx-auto mb-3">
        <h2 style="text-align: center">About</h2>
        <hr />
        <p>At our Trivia Website, we offer a vast collection of trivia categories that ensure we appeal to all kinds of
        trivia lovers. Browse our extensive collection of trivia, including history, sports, movies, and more!
        With just a few clicks, you can play trivia and compete with your friends. </p>
      </div>
      <div class="col-md-6 mx-auto mb-3 text-center">
        <img src="{% static 'img/about.jpg' %}" class="max-width-100" alt="about" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}
