.bg-index{
    background: url("GTMovieStore/static/img/background.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
  }

  .navbar a.nav-link {
    color: #FFFEF6 !important;
  }
  .navbar a.nav-link:hover {
    color: #6ab43e !important;
  }


  .bg-dark {
    background-color: #39FF14 !important;
  }

  .ms-footer {
    background-color: #39FF14;
    flex-shrink: 0;
  }

  .ms-footer p {
    color: #7F7F7F;
    font-size: 13px;
  }

  .ms-footer a:hover {
    color: #6ab43e;
    text-decoration: none;
  }



  .ms-footer-bottom span{
    font-size: 13px;
    line-height: 38px;
  }

  .ms-footer-bottom a {
    color: #6ab43e;
    text-decoration: none;
  }

  .ms-footer-bottom a:hover {
    color: #fff;
  }

  .author-names:hover {
    color: #9d9d02;
  }

  .img-card-150 {
    width: fit-content;
    max-height: 200px;
}

  .img-card-400 {
    width: fit-content;
    max-height: 400px;
}

  .hero-container {
    width: 100vw; /* Full viewport width */
    height: 60vh; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensures no extra space */
}

.hero-img {
    width: 150%;
    height: auto;

}