/* THIS IS FOR DEBUGGING PURPOSES*/
/** {border: 1px solid red;}*/

/* Body */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 8px 0 0 0;
  margin: 0;
}
.bg-index{
  background: url("GTMovieStore/static/img/background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

/* Header/Navbar properties */
.bg-border {
  border: 2px solid #0b450b;
  background-color: #d9e8d1;
}
.navbar {
  width: 90%;
  border-radius: 20px;
}
.navbar a.nav-link {
  text-align: center;
  width: 100px;
  font-size: 1.1rem;
  margin-left: 8px;
  border-radius: 20px;
  color: #4a4115 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #fae8b3 !important;
  border: 3px solid #4a4115;
}
.nav-text {
  margin: 0;
}
.navbar a.nav-link:hover {
  background-color: #4a4115 !important;
  color: #fae8b3 !important;
}
.navbar-brand img {
  border: 2px solid #75561f;
  border-radius: 10px;
  height: 50px;
}


/* Background colors for certain buttons*/
.bg-light-green {background-color: #698f68 !important;}
.bg-green {background-color: #0b450b !important;}
.bg-red {background-color: #e81919 !important;}
.bg-yellow {background-color: #f5c200 !important;}
.bg-blue {background-color: #007bff !important;}


/* Landing page image*/
.hero-container {
  width: 100vw; /* Full viewport width */
  height: auto; /* Adjust as needed */
  border: 3px solid #0b450b;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensures no extra space */
}
.hero-img {
  width: 100%;
  height: auto;
}

/* Footer properties*/
.ms-footer-bottom {
  width: 90%;
  height: 50px;
  border-radius: 20px;
  color: #0b450b;
  position: fixed;
  bottom: 8px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d9e8d1;
  border: 2px dashed #0b450b;
}

.author-names:hover {
  color: #9d9d02;
}

.img-card-150 {
  width: fit-content;
  max-height: 200px;
}

.img-card-400 {
  width: fit-content;
  max-height: 400px;
}

/*
Each container for a different page (ex: home, about, trivia, etc.)
will be locked into a container
*/
.container {
  width: 90%;
}

/* Account Text Color*/
.account-text {
  color: #0b450b;
}
.account-text:hover {
  color: #9d9d02;
}

/* Each theme-colored border will have these properties*/
.card {
  background-color: #fae8b3;
  border: 6px solid #4a4115;
  border-radius: 20px;
  box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
  font-weight: bold;
  color: #4a4115;
}

/* Traits specific to trivia cards*/
.trivia-card {
  background-color: #fae8b3;
  border: 6px solid #4a4115;
  border-radius: 20px;
  box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.trivia-card:hover {
  transform: scale(1.05);
  background-color: #e4cfa3;
}

/* The look for each "submit" button*/
.user-input-btn {
  background-color: #0b450b;
  border: 3px solid #4a4115;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
}
.user-input-btn:hover {
  background-color: #4a4115;
}

.score-text {
  color: #4a4115;
  font-weight: bold;
}

.text-danger {
  font-weight: bold;
  color: black !important;
}


.answered {
    background-color: #d3d3d3 !important;
    color: #666;
    pointer-events: none;
}